EXPO_PUBLIC_API_URL=https://xxxxxxxxxx.execute-api.ap-northeast-2.amazonaws.com/Prod
EXPO_PUBLIC_COGNITO_USER_POOL_ID=ap-northeast-2_XXXXXXXXX
EXPO_PUBLIC_COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
